.background {
  background-image: url("https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-36.jpg");
  background-size: cover;
}

.title {
  color: rgba(255, 255, 255, 1);
  padding-top: 50px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 70px;
  margin: 0px;
}

.text {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  display: inline;
  padding: 20px;
}

.star {
  height: 300px;
  border-radius: 250px;
  left: 39%;
  margin-top: 20px;
  position: relative;
  animation-name: blink 1.7s steps(5, start) infinite;
  -webkit-animation: blink 1.7s steps(5, start) infinite;

}

@keyframes blink {
  to {background-color: rgba(0, 0, 0, 0);}
}

.earth {
  display: inline;
  height: 150px;
  padding-right: 70px;
  float: right;
}

.velocity-box {
  position: fixed;
  bottom: 15%;
  left: 32%;

}


#scrollbar {
  margin-left: 20px;
}

#message {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  position: fixed;
  bottom: 5%;
  left: 36%;
}
